<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousel</title>
    <link rel="stylesheet" href="style.css" />
    <!-- After a Long Time I touch HTML, CSS, JS for animation -->
  </head>
  <body>
    <div class="container">
      <div class="contentContainer">
        <div class="imageContainer">
        </div>
        <div class="textContainer"></div>
      </div>
      <div style="display: flex;">
        <button  id='left' style="margin-left: 0px;">LEFT</button>
        <button  id="right" >RIGHT</button>
      </div>
    </div>

    <script src="carousel.js"></script>
  </body>
</html>
